<div class="mx-auto p-2" style="width: 200px;">
    <h1>Chat</h1>
</div>

<form id="mensajeForm" class="d-flex justify-content-center">
  <div class="mb-3 w-50">
    <label for="message" class="form-label">Mensaje</label>
    <input type="text" class="form-control" id="message">
  </div> &nbsp;
<button type="submit" class="material-symbols-outlined btn btn-primary">
send
</button>
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>